@import url(../css/font.css);
@import url(../css/text.css);

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --color-background: #cdcdcd;
  --color-primary-lighter: #a697d0;
  --color-primary-light: #896bcf;
  --color-primary: #2d9cdb;
  --color-primary-dark: #2f80ed;
  --color-primary-darker: #3f40ff;
  --color-secondary: #04d361;
  --color-secondary-dark: #4daf50;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #d4c2ff;
  --color-text-title: #32264d;
  --color-text-complement: #8e8e8f;
  --color-text-base: #6a6180;
  --color-line-in-white: #cecdcd;
  --color-input-background: #f8f8fc;
  --color-button-text: #ffffff;
  --color-box-base: #e3e2e2;
  --color-box-footer: #f1f1f2;
  --color-red: #ef4444;
  --color-red-dark: #dc2626;
  --color-red-light: #f56565;
  --color-red-darker: #b82525;
}

#root {
  @apply h-full w-full bg-[#F0F0F7] pb-16;
}
